# dependencies
/node_modules

# compiled files
dist/**/*

# misc
.env.development.local

.eslintrc.cjs
.eslintignore
.prettierignore

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode
*.code-workspace